/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

p {
  font-family: Arial, sans-serif;
  color: #2684be;
}

img {
  max-width: 100%;
  height: auto;
}

/* Site wrapper */
.site-wrapper {
  background: url("/images/about-background.webp") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 0;
}

/* Tablet */
@media (max-width: 1024px) {
  .site-wrapper {
    padding-top: 160px;
  }
}

/* Mobile */
@media (max-width: 800px) {
  .site-wrapper {
    padding-top: 80px;
  }
}
